/* body{
    text-align:center ;
} */

.center{
    display: flex;
    margin: 10px;
    padding-right: 20px;
    text-align: center;
}

.box1{
    border: 1px solid black;
    width: 300px;
    height: 150px;
    margin: 10px;
}

.head{
    display: flex;
 margin: 10px;
}

