<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    

    <h1>Add a Nwe Show</h1>
<form action="/show/Update_user" method="post">
    {% csrf_token%}
<label for="title">Title:</label>
 <input type="text" name="title">
    <div>
<label for="network">Network:</label>
 <input type="text" name="network">
 <label for="release_date">Release date:</label>
 <input type="date" name="release_date">


    </div>
    <label for="description"> Description:</label>
    <input type="textarea" name="description">

    <button>Update</button>
    <a href="show/edit">go back</a>
</body>
</html>