<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.cont{
display: flex;
}
.cont div {
    background-color: aquamarine;
    margin: 10px;
    border: 2px solid black;
    width: 500px;
    height: 500px;
}
</style>
<body>
    {% for _ in range(0,num_box) %}
    <div class="cont">
        <div></div>
        <div></div>
        <div></div>
        {% endfor %}
    </div>
</body>
</html>