<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkeboard</title>
</head>
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    table tr td{
        width: 50px;
        height: 50px;
    }
    .color1{
        background-color: red;
    }
    .color2{
        background-color: black;
    }

</style>
<body>
   
        <table>
            {%for i in raneg%}
            <tr>
               
                <td class="color1"></td>
                <td class="color2"></td>
                
            </tr>
            {%endfor%}
            <tr>
                <!-- <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
               </tr> -->
               
               </table>





      
    
</body>
</html>